{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock title %}

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="page-inner">
		<div class="mt-2 mb-4">
			<h2 class="text-white pb-2">Blank Page</h2>
			<h5 class="text-white op-7 mb-4">
                Add more content here.     
            </h5>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
